* {
    margin: 0px;
}

html {
    font-family: ubuntu, sans-serif;
    background-color: #257AAD;
    margin: 0px;
}

/* Header styles */

header {
    background-image: linear-gradient(#032144, #257AAD);
    padding: 5px;
    height: 130px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header h1,h2 {
    color: #D4D6C5;
    margin-left: 20px;
    text-shadow: 3px 3px darkslategray
}

h1 {
    font-size: 50px;
    line-height: 10px;
    position: absolute;
    top: 30px;
}

h2 {
    font-size: 35px;
    line-height: 10px;
    position: absolute;
    top: 90px;
}

nav li {
    display: inline-block;
    width: 70px;
    padding: 15px;
    border-radius: 20px 0px 0px 0px;
    font-family: 'Ubuntu' sans-serif;
    margin-right: -20px;
    text-align: left;
}

nav a {
    text-decoration: none;
    font-family: 'Ubuntu' sans-serif;
    font-size: 18px;
    color:#032144;
}


nav a:visited {
    color:#032144;
}

.red {
    background-color: #ED535A;
}

.red:hover {
    background-color:#D4D6C5;
    cursor: pointer;
}



.yellow {
    background-color: #FAE395;
}

.yellow:hover {
    background-color:#D4D6C5;
    cursor: pointer;
}

nav {
    position: fixed;
    right: 10px;
    top: 80px;
}


/* About Me Styles */

.main-page {
    position: relative;
    top: 150px;
}


.about-me p {
    color:#FAE395;
    text-align:justify;
    font-size: 20px;
    line-height: 26px;
    margin-top: 0px;
    
}

.about-me h3 {
    color:#032144;
    font-size: 22px;
    margin-bottom: 0px;
}

.about-me {
    margin: 0px 20px;
    padding: 0px 20px;
}

.picture img {
    border:#032144 solid 3px;
    border-radius: 25px;
    margin-top: 30px;
    object-fit: cover;
    height: 320px;
    max-width: 320px;
  
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}

#map {
    height: 320px;
    width: 320px;
}

.map iframe {
    border:#032144 solid 3px;
    border-radius: 25px;
    margin-top: 30px;
}

@media only screen and (max-width: 1200px) {
  .map {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .picture {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .about-me {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
  }

  .grid-container {
    grid-template-columns: 1fr 2fr;
}
}

@media only screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .about-me {
        grid-row-start:1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .picture {
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 0px auto;
    }

    .picture img {
        width: 250px;
        height: 250px;
    }

    #map {
        height: 250px;
        width: 250px;
    }

    .map {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
    }

    .toronto-caption{
       margin-right: 40px;
       font-size: 12px;
    }
}

@media only screen and (max-width: 700px) {

    .grid-container {
        grid-template-columns: 1fr 90% 1fr;
        grid-template-rows: 1fr 300px 300px;
    }

    .about-me {
        grid-row-start:1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        overflow:scroll;
    }

    .picture {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start:2;
        grid-column-end: 3;
        
    }

    .map {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 0px auto;
    }

    h1 {
        font-size: 25px;
        line-height: 10px;
        position: absolute;
        top: 25px;
    }
    
    h2 {
        font-size: 18px;
        line-height: 10px;
        position: absolute;
        top: 50px;
    }

    nav a {
        font-size: 15px;
    }

    nav li {
        width: 60px;
        padding: 15px;
        border-radius: 15px 0px 0px 0px;
        margin-right: -20px;
    }

    header {
        height: 60px;

    }

    nav {
        top: 20px;
    }
}

.picture {
    position: relative;
}

.toronto-caption {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color:#257AAD;
    border:#032144 solid 1px;
    color:#FAE395;
    opacity: 0.8;
    padding: 0px 10px;
    line-height: 30px;
    height: 30px;

}


footer {
    background-image: linear-gradient(#257AAD, #032144);
    height: 200px;
    display: block;
    position: relative;
    width: 100%;
    top:300px;
}

footer h4 {
    text-align:center;
    color:#032144;
    font-size: 20px;
    z-index: 0;
    position: relative;
    bottom: 0px;
}


/* Buttons Styling */

.project-intro p {
    color:#FAE395;
    text-align:justify;
    font-size: 20px;
    line-height: 26px;
    margin-top: 0px;
}

.buttons div {
    height: 30px;
    width: 140px;
    background-color: #FAE395;
    color:#032144;
    border:#032144 solid 2px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px black;
}

.buttons div:hover {
    background-color:#D4D6C5;
    cursor: pointer;
    box-shadow: none;
}

.project-intro {
    position: relative;
    top: 150px;
    margin: 0 auto;
    width: 80%;
}

.buttons {
    position: relative;
    top: 200px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.buttons p {
    margin: auto;
    line-height: 30px;
}

.project-cards {
    position:relative;
    display: flex;
    top: 250px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
   
}

.card {
    background-color:#ED535A;
    color:#FAE395;
    border:#032144 2px solid;
    display: grid;
    grid-template-columns: 120px 1fr;
    border-radius: 25px;
    height: 200px;
    width: 400px;
    padding: 15px;
    box-shadow: 3px 3px black;
}

.card img {
    height: 100px;
    width: 100px;
    display: inline;
    border:#032144 solid 1px;
    margin: 5px;
    border-radius: 3px;
    object-fit:cover;
}

.card li {
    display: inline-block;
    background-color:#D4D6C5;
    border:#032144 1px solid;
    border-radius:5px;
    color:#032144;
    font-size: 10px;
    padding: 3px;
    box-shadow: 1px 1px black;

}

.card a {
    text-align: center;
    color:#032144;
    font-weight: bold;
    text-decoration: none;

}

.card a:hover {
    cursor: pointer;
    color:#FAE395;
}

span {
    color:#032144;
}


/* Skills Page Styles */

.skills-list div {
    height: 30px;
    width: 80%;
    background-color: #FAE395;
    color:#032144;
    border:#032144 solid 2px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px black;
    margin: 15px;
}

.skills-list {
    position: relative;
    top: 200px;
    margin: 0 auto;
    width: 60%;
    min-width: 150px;
}

.skills-list p {
    margin: auto;
    line-height: 30px;
}

.skills-list div:hover {
    background-color:#D4D6C5;
    cursor: pointer;
    box-shadow: none;
}

.skills-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.skills-info {
    position: relative;
    top: 200px;
    width: 90%;
    min-height: 500px;
    background-color:#ED535A;
    color:#FAE395;
    border:#032144 3px solid;
    border-radius: 15px;
    margin: 20px;
}

@media only screen and (max-width: 700px) {
   .skills-container {
        grid-template-rows: 100px 1fr;
        grid-template-columns: 100%;
   }
   
    .skills-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        grid-row-start: 1;
        width: 100%;
        top: 100px;
    }

    .skills-list div {
        height: 50px;
        width: 140px;
        margin: 5px;
        vertical-align: middle;
    }

    .coding-skill {
        grid-column-start: 1;
    }

    .it-use-skill {
        grid-column-start: 2;
    }

    .design-thinking-skill {
        grid-column-start: 3;
    }

    .teaching-skill {
        grid-column-start: 4;
    }

    .skills-info {
        grid-row-start: 2;
        top: 70px;
    }
}

/* Skills Page Styling */

.info-boxes {
    padding: 20px;
}

.info-boxes h3 {
    color:#032144;
    font-weight: bold;
    font-size: 26px;
}

.formal-ed {
    color:#032144;
    text-decoration: underline;
    font-size: 20px;
}

.info-boxes p {
    font-size: 20px;
}

@media only screen and (max-width: 520px) {
   
    nav {
        top: 80px;
        width: 100%;
        display: flex;
        flex-wrap:nowrap;
        justify-content:space-between;
    }

    nav li {
        max-width: 130px;
        height: 20px;
        padding: 5px;
        border-radius: 5px;
        margin-right: 50px;
        text-align: center;
        border:#032144 1px solid;
        margin: 0;
        background-color:#FAE395;
    }

    header {
        height: 110px;
    }

    .project-cards {
        top: 250px;
        gap: 5px;
    }

    .card {
        grid-template-columns: 90px 1fr;
        border-radius: 20px;
        height: auto;
        width: 80%;
        padding: 10px;
        box-shadow: 3px 3px black;
    }

    .card img {
        height: 80px;
        width: 80px;
        margin: 3px;
        border-radius: 2px;
    }

    .card li {
        font-size: 9px;
        padding: 2px;
    }

    .buttons div {
        width: 110px;
        font-size: 14px;
}

.skills-list {

    top: 120px;
    font-size: 12px;
 
}

.skills-list p {
    margin: auto;
    line-height: 15px;
}

.skills-list div {
    height: 35px;
}

.skills-info {
    top: 60px;
    margin: 20px auto;
}

.about-me p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 0px;
    
}

}